*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-black: #222;
  --color-green: #82b340;
  --color-white: #fff;
  --color-grey: #ececec;
}

body{
  background: var(--color-white);
  color: var(--color-black);
font-family: 'Poppins', sans-serif;
}